{
  "Smtp": {
    "Host": "smtp.example.com",
    "Port": 587,
    "FromAddress": "railway@example.com",
    "EnableSsl": true,
    "Username": "YOUR_SMTP_USERNAME",
    "Password": "YOUR_SMTP_PASSWORD"
  },
  "InternalService": {
    "ApiKey": "YOUR_DEVELOPMENT_INTERNAL_SERVICE_API_KEY"
  }
}
